{% extends 'base_generic.html' %}
{% load static %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<div class="app-heading app-heading-condensed heading-transparent app-heading-small margin-bottom-10">
    <div class="title">
        <h2>Change User Password</h2>
        <p>Reset old user password.</p>
    </div>                                
</div>

<div class="row">             
    <div class="col-md-12">
    	<div class="tile-basic tile-basic-icon-top tile-basic-shadow">
    		<div class="tile-icon">
                {% if user.profile_pic %}
                    <img src="{{ user.profile_pic.url }}" alt="{{ user.username }}" width="150px" height="150px">
                {% else %}
                    <img src="{% static 'img/user/no-image.png' %}" alt="{{ user.username }}">
                {% endif %}
            </div>
	        <div class="tile-content text-center">
	        	<h3 class="tile-title tile-title-underlined">{{ user.username }}</h3>
	        	<p><b>Reset Password</b></p>
	            <form action="" method="post" class="form">
					{% csrf_token %}
					{% if form.email.errors %}
						{{ form.email.errors }}
					{% endif %}
						{% bootstrap_form_errors form %}
					    {% bootstrap_form form layout='inline' %}
					<input type="submit" name="submit" class="btn btn-primary btn-lg btn-rounded btn-clean" value="Change password">
				</form>
	        </div>
	    </div>
        
    </div>                            
</div>
{% endblock %}