@media print{
	.btn{
		display:none;
	}
	.tble{
		background-color: #FFF;
		border: 1px solid;
		-webkit-print-color-adjust: exact;
	}
}

@media  screen{
	/*.btn{
		display: none;
	}*/
	.tble{
		background-color: #FFF;
		border: 1px solid;
	}
}